.container {
    width: 250px;
}
.input-block {
    background: #CCC;
    height: 50px;
    margin-top: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}
.input-block input[type='text'] {
    width: 200px;
    height: 18px;
    position: relative;
    left: calc(50% - 107px);
    top: 12px;
    outline: none;
}
.list > div > div {
    height: 25px;
    padding: 5px 20px;
    border-bottom: 1px solid #CCC;
    font-size: 130%;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
.list span {
    position: relative;
    top: 3px;
}
.list input[type='checkbox'] {
    margin-right: 10px;
}
.list img {
    cursor: pointer;
    float: right;
    margin-top: 5px;
    height: 16px;
}
.options {
    background: #CCC;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.option {
    border: none !important;
    margin-left: 1px;
}
.option span {
    font-size: 90%;
    margin-left: 1px;
    position: relative;
    top: 3px;
}
.footer {
    margin-top: 5px;
}
.footer span {
    display: block;
    font-size: 90%;
    text-align: center;
    color: gray;
}
