*.pyc
*.log
.DS_Store*
ehthumbs.db
settings_local.py
Icon?
Thumbs.db
karma-e2e.conf.js
node_modules
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.idea*
.directory
.Python
media/cache
bin
include
.env
todoenv
