.done-true {text-decoration: line-through;color: grey;}
.all{border: 1px solid #E8E8E8; width:400px; margin:0 auto;border-radius:5px;box-shadow: 2px 2px 10px 2px #E8E8E8;min-height: 150px;}
.fright{float:right;}
.todostyle{font-size:14pt;margin-left:35px;}
.todosine{width:400px;heigth:100%;}
.fleft{float:left!important;}
.nost {list-style:none; line-height:40px;}
.no1st:hover{background-image:url(no.png);background-position:right; display:inline-block; margin-right:10px; width:300px;}
.clear{clear:both;}
.no{background-image:url(no1.png); width:15px;height:15px;display:inline-block;cursor: pointer;}
.no1:hover{background-image:url(no.png); width:15px;height:15px;display:inline-block; margin-right:10px;}
.box{margin-right:10px;}
.nostyle{background:red;}
.test:hover{background-image:url(no3.png);background-position:right;background-repeat:no-repeat;margin-right:20px;}
.test{background-image:url(no1.png);background-position:right;background-repeat:no-repeat;margin-right:20px;}
.test2:hover{background-color:#F5F5F5; padding:0;}
.unstyled{padding:0;}
.mylvl{font-size:14pt;}
.ed{background-image:url(ed1.png); width:15px;height:15px;display:inline-block;cursor: pointer;margin-right:5px}
