#wrapper{
    position: relative;
    margin: auto;
    background: #f5f5f5;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    width: 400px;
    box-shadow: -2px -2px 10px rgba(100, 100, 100, 0.5);
}
.done-true{
    text-decoration: line-through;
    color: #00a000;
}
.done-false{
    color: #68cdff;
}
.inform{
    font-family: Arial;
    color: #f58e00;
    float: left;
    margin-top: 0px;
}
.pointer{
    cursor: pointer;
}
.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
#list{
    margin: 20px 10px;
}
#list{
    height: 250px;
    overflow: auto;
}
#list .task_list{
    margin: 5px;
    list-style-type: none;
    font-family: Verdana;
    padding: 5px;
    font-size: 24px;
}
#list .task_list:hover{
    background: #ffffff;
    cursor: pointer;
}
.no-display{
    display: none;
}

