<!DOCTYPE HTML>
<html ng-app="LocalStorageModule">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-local-storage.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <script src="js/script.js"></script>
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container" ng-app="" ng-controller="controller" ng-init="initController(); initArchive(); initOption();">
        <h1 align="center">To-do list</h1>
        <form ng-submit="putInList()" class="input-block">
            <input type="text" ng-model="inputText" placeholder="What you wanna do?" autofocus>
        </form>
        <div class="list">
            <div>
                <div ng-repeat="list in lists" ng-mouseenter="hover(list)" ng-mouseleave="hover(list)" ng-show="list.show">
                    <input type="checkbox" ng-click="setArchive(list)" ng-show="list.showCheckbox" ng-model="list.listCheckbox" ng-init="list.archive">
                    <span ng-style="list.itemStyle">{{list.name}}</span>
                    <span ng-hide="list.hideDelImg" ><img ng-show="list.showDelImg" ng-click="deleteItem(list)" src="http://png.findicons.com/files/icons/557/creme/16/delete.png"></span>
                </div>
            </div>
            <div class="options">
                <div class="option">
                    <label>
                        <input type="checkbox" ng-click="changeOption()" ng-model="inputValue">
                        <span>Only view</span>
                    </label>
                </div>
            </div>
	    </div>
	    <div class="footer">
            <span>&copy; Artur Dolgii, 2013</span>
        </div>
    </div>
</body>
</html>
