<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" media="screen" href="frameworks/bootstrap/css/bootstrap.css"></link>
</head>
<body>
<div class="width">
	<div class="center">
		<h1>Questions</h1>
	</div>
</div>
 <script type="text/template"  id="main-id">

	 <div class="well noMargin width">
		 Question: <%= text %><br /><br />
		 Status: <%= correct %><br />
		<div class="navButtons">
			 <input type="button" class="correct" value ="Correct" />
			 <input type="button" class="incorrect" value ="Incorrect" />
			 <div class="right">
				 <input type="button" class="back" id="test2" value ="<<" />
				 <input type="button" class="forward" value =">>" />
		 </div>
		 </div>
	 </div>

 </script>

 <script type="text/template"  id="counter-id">
 <div class="well width">
 Correct: <strong><span class="green"><%= correct %></span></strong> Incorrect<strong>
 <spand class="red"> <%= incorrect %></span> </strong>
 <span class="right">Not answered:<strong><%= notAnswered %></span></strong>
 </div>
  </script>
 
<script src="frameworks/underscore.js"></script>
<script src="frameworks/jquery-1.10.2.js"></script>
<script src="frameworks/backbone.js"></script>

<script src="main.js"></script>
 <span class="test"></span>
</body>
</html>