body{

}
.noListingStyle li {
list-style:none;
}
.noListingStyle {
list-style:none;
}
.noPadding{
padding-left: 0;
}
.width{
width:450px;
}
.green{
color:green;
}
.red{
color:red;
}
.center{
margin:0 auto;
}
.right{
float:right;
}