    <div ng-controller="ModalWindowController" id="myModal" class="modal fade" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true" keywatcher>
        <div class="modal-dialog modalwindowstyle">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel" ng-hide="todoExample.edit">Add new item</h4>
                    <h4 class="modal-title" id="myModalLabel" ng-show="todoExample.edit">Update item</h4>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <form class="form-inline" role="form">
                            <p>Description:</p>
                            <input type="text" ng-model="todoExample.text"
                                   placeholder="Start typing description here"
                                   class="form-control" ng-show="canEditTodo()">
                            <div class="modalwindow_description-hint">
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3" 
                                    ng-show="todoExample.text.length>2&&(medicines|filter:todoExample.text).length>1">
                                    <li role="presentation" ng-repeat="medicine in medicines | filter:todoExample.text" 
                                        ng-class="{active:($index==(activeMedicine||0))}">
                                        <a role="menuitem" tabindex="-1"
                                           ng-click="todoExample.text=medicine.title">{{medicine.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="well" hide-picker>
                        <p>Time:</p>
                        <form ng-submit="addNewDateTimeToTodo()" class="form-inline" role="form">
                            <div id="datetimepicker1" class="input-group input-append left">
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                <input data-format="yyyy-MM-dd" type="text" ng-model="date" date-picker
                                       class="form-control add-on datetime" placeholder="{{currentDate}}">
                            </div>
                            <div id="datetimepicker2" class="input-group input-append left">
                                <span class="input-group-addon glyphicon glyphicon-time"></span>
                                <input type="text" data-format="hh:mm:ss" time-picker ng-model="time"
                                       class="form-control add-on datetime" placeholder="{{currentTime}}">
                            </div>
                            <button type="button" class="btn btn-primary"
                                    ng-click="addNewDateTimeToTodo()">Add Time</button>
                        </form>
                    </div>
                    <p>This task shall be done at:</p>
                    <ul>
                        <li ng-repeat="datetime in todoExample.time">
                            <span>{{ datetime.date}} {{ datetime.time}}</span>
                            <div class="glyphicon glyphicon-remove edittodo-removedate remove-time-icon"
                                 ng-click="removeDateTimeTodo($index)"></div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer" ng-hide="todoExample.edit">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewTodo()">Add </button>
                </div>
                <div class="modal-footer" ng-show="todoExample.edit">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button type="button" class="btn btn-primary" ng-click="updateTodo()">Update </button>
                </div>

            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#datetimepicker2').datetimepicker({
                    pickDate: false
                });
            });

            $(function() {
                $('#datetimepicker1').datetimepicker({
                    pickTime: false
                });
            });
        </script>
    </div>
