    <div ng-controller="ModalWindowController" id="myModal" class="modal fade" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true" keywatcher>
        <div class="modal-dialog modalwindowstyle">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel" ng-hide="todoExample.edit" translate>
                        MODAL_WINDOW.ADD_NEW_ITEM
                    </h4>
                    <h4 class="modal-title" id="myModalLabel" ng-show="todoExample.edit" translate>
                        MODAL_WINDOW.UPDATE_ITEM
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <form class="form-inline text-form" role="form">
                            <p translate>MODAL_WINDOW.DESCRIPTION</p>
                            <input type="text" ng-model="todoExample.text" class="form-control"
                                   placeholder="{{'MODAL_WINDOW.DESCRIPTION_PLACEHOLDER' | translate}}">
                            <div class="modalwindow_description-hint">
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3" 
                                    ng-show="todoExample.text.length>2&&(medicines|filter:todoExample.text).length>1">
                                    <li role="presentation" 
                                        ng-repeat="medicine in medicines | filter:todoExample.text" 
                                        ng-class="{active:($index==(activeMedicine||0))}">
                                        <a role="menuitem" tabindex="-1"
                                           ng-click="todoExample.text=medicine.title">{{medicine.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="well" hide-picker>
                        <p translate>MODAL_WINDOW.STARTING_DATE</p>
                        <form class="form-inline set-date-form" role="form">
                            <div class="input-group input-append left">
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                <input type="text" ng-model="date" date-picker ng-model="todayDate"
                                       class="form-control add-on datetime" placeholder="{{date}}">
                            </div>
                            <div class="input-group number left" title="{{'MODAL_WINDOW.DAYS_COUNT' | translate}}">
                                <span class="input-group-addon glyphicon glyphicon-dashboard"></span>
                                <input class="form-control" type="text" ng-model="daysCount">
                            </div>
                            <div class="input-group number left" title="{{'MODAL_WINDOW.DAYS_PERIOD' | translate}}">
                                <span class="input-group-addon glyphicon glyphicon-share-alt"></span>
                                <input class="form-control" type="text" ng-model="period">
                            </div>
                            <button type="button" class="btn btn-primary set-date"
                                    ng-click="getStartDate()" translate>MODAL_WINDOW.SET_DATE</button>
                        </form>
                        <ul class="modalWindowListBadges">
                            <li ng-repeat="date in dateArr">
                                <span class="label label-primary">{{date}}
                                    <span class="glyphicon glyphicon-remove edittodo-removedate remove-time-icon"
                                          ng-click="removeDateTodo($index)"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="well" hide-picker>
                        <p translate>MODAL_WINDOW.TIME</p>
                        <form class="form-inline set-time-form" role="form">
                            <div id="datetimepicker2" class="input-group input-append time left">
                                <span class="input-group-addon glyphicon glyphicon-time"></span>
                                <input type="text" data-format="hh:mm" time-picker ng-model="time"
                                       class="form-control add-on datetime" placeholder="{{time}}">
                            </div>

                            <button type="button" class="btn btn-primary"
                                    ng-click="setTimeModal()" translate>MODAL_WINDOW.ADD_TIME</button>
                        </form>
                        <div class="time-list">
                            <ul class="modalWindowListBadges time">
                                <li ng-repeat="time in timeArr">
                                    <span class="label label-primary">{{time}}
                                        <span class="glyphicon glyphicon-remove edittodo-removedate remove-time-icon"
                                              ng-click="removeTimeTodo($index)"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-hide="todoExample.edit">
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate>
                        MODAL_WINDOW.CANCEL
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="addTodoExample(); addNewTodo();" translate>
                                MODAL_WINDOW.SAVE
                    </button>
                </div>
                <div class="modal-footer" ng-show="todoExample.edit">
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate>
                        MODAL_WINDOW.CANCEL
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="addTodoExample(); updateTodo();" translate>MODAL_WINDOW.UPDATE</button>
                </div>

            </div>
        </div>
    </div>
