<ul ng-controller="PatientListController" class="patient-list nav navbar-nav">
    <li class="dropdown">
        <a ng-href="" class="dropdown-toggle" data-toggle="dropdown">
            {{'PATIENT_LIST.TITLE' | translate}}
            <span class="bold">{{currentPatient.first_name}} {{currentPatient.last_name}}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li ng-click="setActivePatient(patient.id);" 
                ng-repeat="patient in patientList">
                <a ng-href="" ng-class="{selected: currentPatient.id==patient.id}" translate>
                    {{patient.first_name}} {{patient.last_name}}
                </a>
            </li>
        </ul>
    </li>
</ul>