<div ng-controller="TodoController">

    <!--patient list-->
    <list class="left absolute"></list>

    <!--patient calendar-->
    <calendar class="left absolute"></calendar>

    <!--Modal Window-->
    <modal></modal>

    <div id="wrapper" class="modal-content">
        <div class="inform">You have {{getActiveTaskQuantity()}} tasks</div>

        <div class="moderation-buttons">
            <button class="btn-primary btn modalstartbutton" data-toggle="modal"
                    clear data-target="#myModal" ng-show="canAddTodo()">Add new task</button>
            <button ng-click="clearDoneTodos()" class="btn-primary btn" ng-show="canRemoveTodo()">Clear</button>
        </div>

        <div class="clear"></div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Morning
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul id="list" update-local-storage-on-change>
                            <li class="task_list"
                                title="click if you want to edit" ng-repeat="todo in currentPatient.todo | filter:searchQuery">
                                <div ng-repeat="time in todo.time | filter:currentDate">
                                    <div class="content" mouseover mouseout>
                                        <input type="checkbox" class="left check_done"
                                             ng-model="time.done" ng-show="canCheckTodo()">
                                        <span data-target="#myModal"  data-toggle="modal"
                                              todo-item="{{todo.id}}" time-item="{{ time.id }}"
                                              edit="{{canEditTodo()}}" class="done-{{time.done}}">
                                            {{time.time.split('T')[1]}}: {{todo.text}}
                                        </span>
                                        <span class="glyphicon glyphicon-remove pointer right remove-icon"
                                          ng-click="removeTodo(todo.id, time.id)"
                                          ng-show="false"></span>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                           Noon
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Evening
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
        <input type="text" ng-model="searchQuery" placeholder="Search" class="form-control search-input">
        <div class="clear"></div>
    </div>

</div>