<div ng-controller="TopPanelController" ng-hide="topPanelHider" 
     class="navbar navbar-masthead navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="">
                <span class="user-photo-block"><img ng-src="{{userPhoto}}"></span>
                {{currentUser.first_name}} {{currentUser.last_name}}
            </a>
        </div>
        <div class="navbar-collapse collapse">

            <!--patient list-->
            <list></list>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ng-href="" date-picker class="dropdown-toggle" data-toggle="dropdown">
                        {{'TOP_PANEL.FILTER_BY_DATE' | translate}} 
                        <span class="bold" ng-model="todayDate">{{currentDate}}</span>
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a ng-href="" class="dropdown-toggle" data-toggle="dropdown">
                        {{'TOP_PANEL.LANGUAGE' | translate}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lang in languagesList">
                            <a ng-href="" ng-click="changeLang(lang);" translate>TOP_PANEL.LANGUAGES.{{lang}}</a>
                        </li>
                    </ul>
                </li>
                <li><a class="exit" href="#/auth/logout" translate>TOP_PANEL.LOGOUT</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
