<div ng-controller="TopPanelController" class="top-panel" ng-hide="topPanelHider">

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="user-photo"><img ng-src="{{userPhoto}}" width="50"></div>
                <div class="user-name">{{currentUser.first_name}} {{currentUser.last_name}}</div>
            </div>
            <div class="navbar-collapse collapse">
                <div ng-show="currentUser.role.check">
                    <div class="actualTime">
                        <label for="current-date" class="left datetime-filter" translate>
                            TOP_PANEL.FILTER_BY_DATE
                        </label>
                        <div id="datetimepicker3" class="input-append">
                            <input id="current-date"  type="text" ng-change="setCurrentDate()"
                                   ng-model="todayDate"  class="add-on form-control"
                                   placeholder="{{currentDate}}" datePicker>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{'TOP_PANEL.LANGUAGE' | translate}} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="lang in languagesList">
                                    <a ng-href="#" ng-click="changeLang( lang );" translate>
                                        TOP_PANEL.LANGUAGES.{{lang}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <li><a class="exit" href="#/auth/logout" translate>TOP_PANEL.LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
