<h2 id="title" >Todo</h2>
<div style="text-align:center;">
	<input type="text" ng-model="search" class="search-query" placeholder="Search">
</div>
<hr />
<table width="100%">
	<tbody>
		<tr ng-repeat="project in projects | filter:search | orderBy:'_id.$oid'" class="item">
			<td class="title" contenteditable="true" >{{project.text}}</td>
			<td class="checkbox"><label ng-if="c != 1"><input type="checkbox" ng-model="project.todo" ng-controller="ChangeCtrl" ng-click="save();" /></label></td>
			<td class="delete"><button ng-if="c != 1" class="delete" ng-controller="DeleteCtrl" ng-click="remove();">X</button></td>
		</tr>
	</tbody>
</table>
<hr />
<div style="text-align:center;">
	<form name="myForm" ng-controller="CreateCtrl">
		<div class="control-group" ng-class="{error: myForm.name.$invalid}">
			<input name="text" ng-model="project.text" placeholder="todo" />
			<button ng-click="save()" ng-disabled="isClean() || myForm.$invalid">Add</button>
		</div>
	</form>
</div>